{
  auto_https off
}

http://chat.{$BASE_DOMAIN} {
  encode gzip
  reverse_proxy open-webui:8080
}

http://code.{$BASE_DOMAIN} {
  encode gzip
  reverse_proxy code-server:8080
}

http://api.{$BASE_DOMAIN} {
  encode gzip
  reverse_proxy manaos-api:9502
}
